.card {
  margin: 1em;
}

.gif {
  max-width: 300px;
  border: 3px solid #b4747d;
}

.link {
  color: #b4747d;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: #a75c66;
  text-decoration: underline;
}
